table {
    font-family: arial;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #eee;
}

.tabletitle {
    background-color: #000;
    color: #fff;
}